.btn{
  display: inline-block;
  line-height: 1;
  min-height: 40px;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: none;
  border: 1px solid $border;
  color: $text;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px;
  &:hover{
    background-color: darken(#fff, 10);
  }
  svg{
    width: 12px;
  }
  &.btn-primary{
    background-color: $primary;
    border-color: $primary;
    color: #fff;
    &:hover{
      background-color: darken($primary, 10);
    }
  }
  &.btn-sm{
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 30px;
  }
}
.btn-group{
  display: flex;
  .btn:nth-child(1) {
    border-radius: 4px 0px 0px 4px;
  }
  .btn:nth-last-child(1) {
    border-radius: 0px 4px 4px 0px;
    border-left: 1px solid $border;
  }
  .btn-main{
    flex: 1;
  }
}
.stop-sel-btn{
  position: absolute;
  left: 10px;
  z-index: 1;
}

.collapse-btn{
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 12px;
  height: 40px;
  border-radius: 0px 4px 4px 0px;
  box-shadow: 2px 2px 6px rgba(#000, .3);
  border: none;
  position: absolute;
  left: 100%;
  top: 10px;
  z-index: 10;
  svg{
    transition: .2s;
    transform: rotateY(180deg);
    width: 10px;
  }
  &:hover:not(.active){
    svg{
      color: $primary;
    }
  }
  &.active{
    border-color: $primary;
    background-color: $primary;
    color: #fff;
    svg{
      transform: rotateY(0deg);
    }
  }
}
.source-sel-btn{
  margin-left: 35px;
}
.drag-container {
  // &:hover > .drag-btn {
  //   display: block;
  // }
  &.align-right{
    .collapse-btn{
      left: auto;
      border-radius: 4px 0px 0px 4px;
      box-shadow: -2px 2px 6px rgba(#000, .3);
      right: 100%;
      svg{
        transform: rotateY(0deg);
      }
      &.active{
        svg{
          transform: rotateY(180deg);
        }
      }
    }
    .stop-sel-btn{
      right: 0;
      left: auto;
    }
  }
}
.save-btn{
  width: 100%;
  background-color: $orange;
  border-color: $orange;
  color: #fff;
  &:hover:not(:disabled){
    background-color: darken($orange, 10);
  }
  &:disabled{
    background-color: #eee;
    border-color: #eee;
    color: #000;
    cursor: default;
  }
}