@import './margin';

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-from, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fa-spinner {
  animation: spinner 1.5s linear infinite;
}

hr{
  border: 0;
  border-top: .5px solid gray;
}

.slider{
  label{
  @include flex
  }
}

.drag-container {
  &.align-right{
    .collapse-btn{
      transform: rotateY(180deg);
      left: auto;
      right: 100%;
    }
    .stop-sel-btn{
      right: 0;
      left: auto;
    }
  }
}

.btn-group{
  display: flex;
  button:nth-child(1) {
    border-radius: 4px 0px 0px 4px;
  }
  button:nth-last-child(1) {
    border-radius: 0px 4px 4px 0px;
    border-left: 1px solid $border;
  }
  .btn-main{
    flex: 1;
  }
}