$template-pL: #f6f7fb;
$template-pL2: #dfe0f2;
$template-p: #5a62b3;
$template-pD: #383874;

$template-rL: #faf1f6;
$template-rL2: #f4e3eb;
$template-r: #e7bdd3;
$template-rD: #fb9ca4;

$template-bL: #edf0f9;
$template-b: #d8f6ff;
$template-y: #ffe7af;
$template-yD: #ffa582;

$border: #dcdfe6;
$text: #606266;

$primary: #5a62b3;
$red: #e7bdd3;
$blue: #d8f6ff;
$yellow: #ffe7af;
$orange: #e6a23c;
$green: #67c23a;
